@model Gifts_Store.Models.Userr

@{
	Layout = "~/Views/Shared/_SenderLayout.cshtml";
}


<div class="login-page  pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17">
	<div class="container">
		<div class="form-box">
			<div class="form-tab">
				<ul class="nav nav-pills nav-fill" role="tablist">
					<li class="nav-item">
						<a class="nav-link active" id="signin-tab-2" data-toggle="tab" href="#signin-2" role="tab" aria-controls="signin-2" aria-selected="true">Forgot Password</a>
					</li>

				</ul>
				<div class="tab-content">
					<div class="tab-pane fade show active" id="signin-2" role="tabpanel" aria-labelledby="signin-tab-2">
					
						@if (TempData["SuccessMessage"] != null)
						{
							<h6 style="text-align:center ; color: red;">
								@TempData["SuccessMessage"]
							</h6>
						}
						@if (TempData["ErrorMessage"] != null)
						{
							<h6 style="text-align:center ; color: red;">
								@TempData["ErrorMessage"]
							</h6>

						}
						<form asp-action="Fpass" enctype="multipart/form-data">


							<div class="form-group">
								<label for="singin-email-2">Email </label>
								<input type="text" asp-for="Email" class="form-control" name="Email" placeholder="Your Email">
								<span asp-validation-for="Email" class="text-danger"></span>

							</div><!-- End .form-group -->

						

							<div class="form-footer">
								<button type="submit" class="btn btn-outline-primary-2">
									<span>Send</span>
									<i class="icon-long-arrow-right"></i>
								</button>



								<a asp-action="Login" asp-controller="Auth" class="forgot-link">Back to sign in</a>

							</div><!-- End .form-footer -->
						</form>

					</div><!-- .End .tab-pane -->
				</div><!-- End .tab-content -->
			</div><!-- End .form-tab -->
		</div><!-- End .form-box -->
	</div><!-- End .container -->
</div><!-- End .login-page section-bg -->
