@model Gifts_Store.Models.Home

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Home</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" id="myForm" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Logo" />
            <input type="hidden" asp-for="Slide1" />
            <input type="hidden" asp-for="Slide2" />
            <input type="hidden" asp-for="Slide3" />

            <div class="form-group">
                <label asp-for="Contentt" class="control-label"></label>
                <input asp-for="Contentt" class="form-control" />
                <span asp-validation-for="Contentt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageLogo" class="control-label"></label>
                <input asp-for="ImageLogo" class="form-control" />
                <span asp-validation-for="ImageLogo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageSlide1" class="control-label"></label>
                <input asp-for="ImageSlide1" class="form-control" />
                <span asp-validation-for="ImageSlide1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageSlide2" class="control-label"></label>
                <input asp-for="ImageSlide2" class="form-control" />
                <span asp-validation-for="ImageSlide2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageSlide3" class="control-label"></label>
                <input asp-for="ImageSlide3" class="form-control" />
                <span asp-validation-for="ImageSlide3" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="button" value="Save" class="btn btn-primary" onclick="submitForm()" />
            </div>
            <script>
                function submitForm() {
                    var form = document.getElementById("myForm");
                    form.submit();
                }
            </script>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

