@model Gifts_Store.Models.About

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>About</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" id="myForm" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Background" />

            <div class="form-group">
                <label asp-for="Contentt" class="control-label"></label>
                <input asp-for="Contentt" class="form-control" />
                <span asp-validation-for="Contentt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" class="form-control" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HomeId" class="control-label"></label>
                <select asp-for="HomeId" class="form-control" asp-items="ViewBag.HomeId"></select>
                <span asp-validation-for="HomeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="button" value="Save" class="btn btn-primary" onclick="submitForm()" />
            </div>
            <script>
                function submitForm() {
                    var form = document.getElementById("myForm");
                    form.submit();
                }
            </script>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

